/* Food Production specific styles */
#buildings-container {
  background-color: rgb(180, 127, 92);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.buildings-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.warning-icon {
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

.box {
  display: flex;
  align-items: stretch;
  border-radius: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid white;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box-icon {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
  margin: 0;
  background-color: rgb(145, 98, 65);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.box-icon img {
  transition: transform 0.3s ease;
  height: auto;
  width: 70%;
}

.box-content {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgb(145, 98, 65);
  min-height: 100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.box-content h2 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: white;
  padding: 4px;
}

.box-text {
  padding: 8px;
  border-top: 2px solid #ffffff;
}

.box-text p {
  font-weight: bold;
}

.box-content hr {
  width: 100%;
  border: 0;
  border-top: 2px solid white;
  opacity: 0.5;
  margin: 0;
  color: white;
}

.box-content p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.box[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.05);
}

.form-select,
.form-select option,
.form-control,
.select {
  display: flex;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 0;
}

.form-select:disabled,
form-control:disabled {
  filter: brightness(80%);
  cursor: not-allowed;
}

.fixSelector {
  width: auto;
  background-color: rgb(145, 98, 65);
  color: white;
  font-weight: bolder;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 0;
  font-size: 16px;
  min-width: 150px;
  font-weight: bold;
}

.levelSelector {
  min-width: auto;
}

.fixSelector option {
  width: auto;
  color: white;
  font-weight: bold;
}

.fixSelector:focus {
  border-color: #f3c24a;
  outline: none;
}

.form-group {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  #overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0 !important;
  }
}

@media (hover: none) {
  .box-icon img {
    transform: none !important;
  }

  .box:hover {
    transform: none !important;
  }
}

.home-icon i {
  color: #4c473b;
}

.home-icon-link .home-icon i {
  color: #f8bc00;
}
