body {
    background-color: #bd9a79;
    color: #433120;
}

@media (max-width:700px) {
    body {
        margin: 0 !important;
    }
}

h1,
h2 {
    font-weight: bolder;
    text-align: center;
}

h1 {
    background-color: rgb(119, 80, 54);
    color: #F3C24A;
    padding: 4px;
    border-radius: 10px;
}

.note {
    background-color: rgb(119, 80, 54);
    color: white;
    font-weight: bolder;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}

.warning-icon {
    font-size: 30px;
    margin-right: 20px;
    font-weight: bold;
}

.container {
    background-color: rgb(67, 51, 38);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media(max-width:1024px) {
    .container {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
    }
}

.box {
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    align-items: stretch;
    text-decoration: none;
    color: #000;
    transition: box-shadow .3s ease, transform .3s ease;
}

.box-content {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    position: relative;
    background-color: rgb(145, 98, 65);
    min-height: 100px;
    border-radius: 10px;
}

.box-content h2 {
    font-size: 18px;
    margin: 0;
    color: #F3C24A;
    padding: 2px;
}

.box-content p {
    margin: 0;
    font-size: 13px;
    color: white;
    font-weight: 500;
}

.box[disabled] {
    pointer-events: none;
    opacity: .5;
    filter: blur(1px);
    cursor: not-allowed;
    transition: all .3s ease;
}

.card-hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease, transform .6s ease;
}

.card-visible {
    opacity: 1;
    transform: translateY(0);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f2d9bb;
}

::-webkit-scrollbar-thumb {
    background-color: #bd9a79;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f2d9bb;
}

.custom-input,
.custom-select,
.custom-button,
.form-control:focus,
.form-control:disabled {
    background-color: #f3e0c2;
    color: #3e2a16;
    border: 2px solid #bd9a79;
    font-weight: bold;
    border-radius: 8px;
}

.custom-input::placeholder {
    color: #8d7155;
}

.custom-input:focus,
.custom-select:focus,
.custom-button:focus {
    box-shadow: 0 0 0 .2rem rgba(243, 194, 74, .5);
    border-color: #f3c24a;
    outline: none;
}

.custom-button {
    background-color: #f3c24a;
    color: #433120;
}

.custom-button:hover {
    background-color: #e2b33d;
}

.dropdown-menu-dark {
    background-color: #7c5a3b;
    border: 1px solid #f3c24a;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.dropdown-menu-dark li {
    margin-bottom: 5px;
}

.dropdown-menu-custom {
    background-color: #f3e0c2;
    border: 2px solid #a97c50;
    border-radius: 8px;
    padding: 5px;
    max-height: 350px;
    overflow-y: auto;
}

.dropdown-menu-custom li {
    list-style: none;
    margin-bottom: 5px;
}

.dropdown-menu-custom li,
.form-check {
    margin-bottom: 0 !important;
}

.dropdown-menu-custom .form-check-input {
    border: 2px solid #a97c50;
    background-color: white;
}

.dropdown-menu-custom .form-check-input:checked {
    background-color: #f3c24a;
    border-color: #f3c24a;
}

.dropdown-menu-custom .form-check-label {
    color: #433120;
    font-weight: bold;
}

.dropdown-menu .form-check:hover {
    background-color: rgba(243, 194, 74, .25);
}

#searchInput::placeholder {
    color: #7b5a3b;
}

.form-select,
.form-select option,
.btn-custom {
    background-color: #f2d9bb;
    color: #433120;
    border: 2px solid #a97c50;
    font-weight: bold;
    border-radius: 8px;
}

#searchInput:focus,
#sortSelect:focus,
.btn-custom:focus {
    border-color: #f3c24a;
    box-shadow: 0 0 0 .2rem rgba(243, 194, 74, .25);
    outline: none;
}

.btn.dropdown-toggle::after {
    display: none !important;
}

.custom-button .bi-funnel {
    font-weight: bolder;
    color: #433120;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.card-image {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    padding-left: 2%;
    padding-right: 2%;
}

.image-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: .3s;
}

.image-modal.show {
    display: flex;
    opacity: 1;
}

.image-modal-content {
    max-width: 90%;
    max-height: 80vh;
    margin: auto;
    display: block;
    transform: scale(.95);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
}

.image-modal.show .image-modal-content {
    transform: scale(1);
    opacity: 1;
}

.image-modal-close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#modalCaption {
    text-align: center;
    color: #ccc;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .3s ease;
}

.image-modal.show #modalCaption {
    opacity: 1;
}

.card-table {
    width: 100%;
    color: white;
    font-size: 14px;
    text-align: center;
}

.card-cell {
    padding: 2px 0;
}

.card-section-title {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.card-effects,
.card-sources {
    padding: 5px;
}

.home-icon-link {
    width: 50px;
    height: 50px;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.home-icon {
    background-color: #7e4606;
    border: 1px solid #f8bc00;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#topButtonsContainer {
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.home-icon i {
    color: #f8bc00;
}

#content {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

@media(max-width:768px) {
    .page-title {
        display: none;
    }
}

.loading-message {
    text-align: center;
    padding: 5px;
    background-color: rgb(145, 98, 65);
    border-radius: 10px;
    border: 2px solid white;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    color: #fff;
}

.loading-message p {
    margin-bottom: 0;
}

.loading-message h3 {
    font-weight: bolder;
}

.progress {
    height: 25px;
    background-color: rgb(190, 140, 100);
    border: 1px solid rgb(67, 51, 38);
    position: relative;
    border-radius: 4px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #86efac, #22c55e, #15803d);
    transition: width .3s ease;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, .3), 0 2px 6px rgba(0, 0, 0, .25);
}

.progress-text {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: 0 0 4px rgba(255, 255, 255, .8), 0 1px 2px rgba(255, 255, 255, .6);
    letter-spacing: .5px;
    pointer-events: none;
    color: black;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}


#languageModal .modal-content {
    background-color: #433120;
    color: #EAD0B2;
    border: 1px solid #443326;
    border-radius: 10px;
}

#languageModal .modal-header {
    background-color: rgb(119, 80, 54);
    border-bottom: 1px solid #443326;
    color: #EAD0B2;
    padding: 0;
}

#languageModal .modal-title {
    color: #F3C24A;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;
    width: 100%;
}

#languageModal .modal-body {
    background-color: rgb(145, 98, 65);
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
}

#languageModal .lang-btn {
    background-color: rgb(145, 98, 65);
    border: 2px solid #443326;
    color: #F3C24A;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

#languageModal .lang-btn:hover:not(:disabled) {
    background-color: #F3C24A;
    color: #433120;
}

#languageModal .lang-btn:disabled {
    opacity: .6;
    cursor: not-allowed;
}