/* Collector Event specific overrides */
.form-select,
.form-select option,
.form-control,
.select {
  display: flex;
  box-sizing: border-box;
  margin-left: 0;
}

.form-select:disabled,
form-control:disabled {
  filter: brightness(80%);
  cursor: not-allowed;
}

.form-group {
  font-size: 20px;
}