.box-content hr {
    width: 100%;
    border: 0;
    border-top: 1px solid white !important;
    opacity: 1 !important;
    margin: 0;
    color: white;
}

.effect-icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 2px;
}

.bi-zoom-in {
    font-size: 1.2rem;
    color: white;
}

.max-bonus {
    font-style: italic;
    color: rgb(234, 224, 224);
    font-size: 12px;
}

@media(max-width:768px) {
    .max-bonus {
        white-space: nowrap;
    }
}

.box-content img {
    width: 70%;
    max-width: 70%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.no-image-text {
    color: #e2b33d !important;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}