/* Body & Global Styles */
body {
  background-color: #bd9a79;
  color: #433120;
}

p {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

hr {
  width: 100%;
  border: 0;
  border-top: 2px solid white;
  opacity: 0.5;
  margin: 0;
  color: white;
}

/* Headings */
h1 {
  background-color: rgb(119, 80, 54);
  color: #F3C24A;
  padding: 4px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

/* Collapse Sections */
.collapse-header {
  color: #F3C24A;
  font-weight: bolder;
  background-color: rgb(119, 80, 54);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 0;
  user-select: none;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
}

.collapse-area {
  background-color: rgb(180, 127, 92);
  border-radius: 10px;
  overflow: hidden;
}

.collapse {
  padding-bottom: 10px;
}

.result .collapse {
  padding-bottom: 0;
}

#buildings-container {
  background-color: rgb(180, 127, 92);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.buildings-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Results & Warnings */
.results {
  color: white;
  font-weight: bolder;
  font-size: large;
}

.warning-icon {
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

/* Containers & Layout */
.container {
  background-color: rgb(67, 51, 38);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 0 !important;
}

.row {
  --bs-gutter-x: 0rem;
}

/* Boxes */
.box {
  display: flex;
  align-items: stretch;
  border-radius: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid white;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box-icon {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
  margin: 0;
  background-color: rgb(145, 98, 65);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.box-icon img {
  transition: transform 0.3s ease;
  height: auto;
  width: 70%;
}

.box-content {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgb(145, 98, 65);
  min-height: 100px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box-content h2 {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: white;
  padding: 4px;
}

.box-text {
  padding: 8px;
  border-top: 2px solid #ffffff;
}

.box-text p {
font-weight: bold;
}

.box-content hr {
  width: 100%;
  border: 0;
  border-top: 2px solid white;
  opacity: 0.5;
  margin: 0;
  color: white;
}

.box-content p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.box[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.05);
}

/* Forms */
.form-select,
.form-select option,
.form-control,
.select {
  display: flex;
  width: 100%;
  font-weight: bold;
  padding: 8px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 0;
  font-size: 15px;
  background-color: #f3e0c2;
  color: #3e2a16;
  border: 2px solid #bd9a79;
  border-radius: 8px;
}

.form-select:disabled,
form-control:disabled {
  filter: brightness(80%);
  cursor: not-allowed;
}

.form-select:focus,
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 194, 74, 0.5);
  border-color: #f3c24a;
  outline: none;
  background-color: #f3e0c2;
}

.fixSelector {
  width: auto;
  background-color: rgb(145, 98, 65);
  color: white;
  font-weight: bolder;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 0;
  font-size: 16px;
  min-width: 150px;
  font-weight: bold;
}

.levelSelector{
    min-width: auto;
}

.fixSelector option {
  width: auto;
  color: white;
  font-weight: bold;
}

.fixSelector:focus {
  border-color: #f3c24a;
  outline: none;
}

.form-group {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

label {
  color: #ffffff;
  font-size: 16px;
}

.calculator-bonuses-form .form-group {
  padding-left: 5px;
  padding-right: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f2d9bb;
}

::-webkit-scrollbar-thumb {
  background-color: #bd9a79;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f2d9bb;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  #overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  body {
    margin: 0 !important;
  }
}

@media (hover: none) {
  .box-icon img {
    transform: none !important;
  }

  .box:hover {
    transform: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    min-width: fit-content;
  }
}

/* Home Button */
.home-icon-link {
  position: fixed;
  right: 10px;
  top: 95%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 1000;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.home-icon {
  background-color: #7e4606;
  border: 1px solid #f8bc00;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-icon i {
  color: #4c473b;
  font-size: 18px;
}

.home-icon-link .home-icon i {
  color: #f8bc00;
}

/* Info button */
.info-tooltip {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  color: #f3c24a;
  cursor: pointer;
}

.info-tooltip .tooltip-text {
  visibility: hidden;
  width: 265px;
  background-color: #433120;
  color: #f3c24a;
  text-align: center;
  padding: 4px 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 1.3;
  opacity: 0;
  transition: opacity 0.3s;
}

.info-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}