.ci-title {
  padding: 5px;
}

.offering-card .box-content {
  min-height: 120px;
}

.offering-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px 12px;
}

.no-image-text {
  font-style: italic;
  color: #e2b33d;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  user-select: none;
}

.offering-card .card-image,
.offering-image {
  max-height: 80px;
}

.lootbox-image-slot .bi-zoom-in,
.offering-zoom-indicator .bi-zoom-in {
  font-size: 1.2rem;
  color: white;
}

.offering-card,
.offering-card *,
.lootbox-image-slot,
.lootbox-image-slot *,
.lootbox-card .card-image,
.offering-card .card-image,
.offering-image {
  cursor: pointer;
}
