/* Rift Raid Points specific styles */
#courtyardBox input[readonly],
#wallBox input[readonly] {
  filter: brightness(80%);
  cursor: not-allowed;
  background-color: rgb(233, 236, 239);
}

#loadingBox p {
  margin-top: 0;
  font-weight: normal;
}